<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server Error</title>
      <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="error-body">
  <div>
    <h1 class="error-title">Internal Server Error</h1>
    <p class="error-text">Something went wrong on our end. <strong>Hold on</strong>, we're investigating the issue.</p>
    <p><strong>Need Help?</strong> Please contact Raj on Teams</p>
  </div>
</body>

</html>